<tr><td>
    <span name="field_name"></span>
  </td>
  <td>
    <span name="field_type" ifset="true">
      <span name="field_class" ifset="true">
	O campo <span name="field_name"></span> está registado como tipo <span name="field_type"></span> which is provided 
	by <span name="field_class"></span>.
      </span>
      <span name="field_class" ifset="!true">
	O campo <span name="field_name"></span> está registado como tipo <span name="field_type"></span>.
	<span class="error">Aviso: O campo '<span name="field_name"></span>não está associado a qualquer classe.</span>
      </span>
    </span>
    <span name="field_type" ifset="!true">
      <span class="error">Aviso: O campo '<span name="field_name"></span>' has no  registed type.</span>
    </span>
    <span name="field_id" ifset="true">
      O campo tem id <span name="field_id"></span>.
    </span>
    <span name="linked_form_name" ifset="true">
      Este campo está ligado à ficha <a href="" name="linked_form_link" id="linked_form_link"><span name="linked_form_name"></span></a>
    </span> 
  </td>
</tr>