<li>
  <span name="browser_magic_data_key"></span> =&gt; <i>Non défini</i>
  <form method="POST" name="erase_action">
    <input type="hidden" name="caller"><input type="submit" value="Erase" onclick="if (confirm('Are you sure?')) {return true;} else {return false;}"></form>
  <form method="POST" name="scalar_action">
    <input type="hidden" name="caller"><input type="submit" value="Make Scalar"></form>
  <form method="POST" name="parent_action">
    <input type="hidden" name="caller"><input type="submit" value="Make Parent"></form>

  <span class="dropdown">
    <a href="#" class="dropdown-toggle"> Importer <b class="caret "></b> </a>
    <ul class="dropdown-menu" style="width:40em"><li>
	<form method="POST" name="upload_action" enctype="multipart/form-data">
	  <h4>Fixer depuis le fichier:</h4>
	  <input type="hidden" name="caller">
	  Fichier d'entrée:<input type="file" name="upload"><br><input type="submit" value="Upload"></form>
      </li>
      <li>
	<form method="POST" name="upload_binary_action" enctype="multipart/form-data">
	  <h4>Charger le fichier binaire:</h4>
	  <input type="hidden" name="caller">
	  Fichier d'entrée:<input type="file" name="upload"><br><input type="submit" value="Upload"></form>
      </li>
      <li>
	
	<form method="POST" name="load_action" enctype="multipart/form-data">
	  <h4>Charger depuis la feuille de calcul:</h4>
	  <input type="hidden" name="caller">
	  Fichier d'entrée:<input type="file" name="csv"><br>
	  URL d'entrée:<input type="text" name="csv_url"><br>
	  Transformer le fichier:<input type="file" name="transform"><br>
	  Transformation enregistrée:<select name="transform_key"><option value="">Sélectionner une transformation enregistrée</option></select><br><input type="checkbox" value="1">Écraser au chargement 
	  <br><input type="submit" value="Upload"></form>
      </li>
      <li>
	<form method="POST" name="load_action" enctype="multipart/form-data">
	  <h4>Charger depuis le XML:</h4>
	  <input type="hidden" name="caller">
	  Fichier d'entrée:<input type="file" name="xml"><br>
	  URL d'entrée:<input type="text" name="xml_url"><br>
	  Transformer le fichier:<input type="file" name="transform"><br>
	  Transformation enregistrée:<select name="transform_key"><option value="">Sélectionner une transformation enregistrée</option></select><br><input type="checkbox" value="1">Écraser au chargement 
	  <br><input type="submit" value="Upload"></form>
      </li>
    </ul></span>

</li>

