<span>
  <span name="displayName"></span> --  <span name="description"></span>
  <span name="locale_container">   
    <h3>Rozlišení Jazyka:</h3>  
    <div>
      Seznam jazyků, pro které vyhledávat překlady <span name="displayName"></span>. Pokud není nastaveno, pak je zkontrolován vybraný jazyk, pak jeho základní a pak <span name="locale_default"></span>.
    </div>
    <div>
      Výchozí rozlišení je <span name="displayName"></span>,  <span name="locale_language"></span>, <span name="locale_default"></span>.
    </div>
    <div>
      Pokud chcete zadat jiné rozlišení jazyka, můžete tak provést jejich zadáním jako čárkou odděleného seznamu od nejvyšší priority po nejnižší.  
      <span printf="'Například fr-RW,fr-FR,%s může být vhodné rozlišení pro jazyk fr-RW.',$locale_default"></span>
      <span printf="'Pokud %s není v seznamu uvedeno, pak je automaticky nastaveno na jazyk s nejnižší prioritou.',$locale_default"></span>
    </div>
    <input name="resolution" type="textbox"></span>
</span>
