<li>
  <span class="formRelationship_title">
    <span name="relation_dispname"></span> (<span name="relation_name"></span>)
  </span>
  <span ifset="true" name="relation_desc">
      --
  </span>
  <span name="relation_desc"></span>

  <a href="" name="relation_edit_link">Baguhin</a>/
  <a href="" name="relation_view_link">Tingnan</a>/
  <!--
  <span task='formrelationship_delete'>
    <a href=""  name="relation_delete_link">Delete</a>/
  </span>
  <a href=""  name="relation_save_link">Save</a>
  -->

</li>
