<div>
  <h2><span name="form_name"></span></h2>
  <div id="join_cookie_trail">
  </div>
  <p>
    Ang pormularyong iniulat <span name="form_name"></span> gumagamit ng pormularyong <span name="real_form"></span>
    <span name="form_join_description"></span>
  </p>
  <div id="form_meta_options_menu">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Ipakita ang Pangalan:</h3>Ang pangalan ng pormularyong ipinapakita sa pinupuntahang tagagamit. Kung walang tinukoy, kung gayon ang makiling pangalan (<span name="form_name"></span>) ang ipinapakita.
	</td>
	<td>
	  <input name="form_display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <h3>Paglalarawan:</h3>Isang paglalarawan ng pormularyong dapat na mauunawaan ng kinapupuntahang tagagamit.
	</td>
	<td>
	  <textarea name="form_description" rows="4" cols="53" value=""></textarea></td>
      </tr><tr><td colspan="2">
	  <input id="form_meta" name="action" class="button" type="submit" value="Edit"></td>
      </tr></table></div>
</div>