<div>
  <h2 id="join_form_link" class="join_form_options_toggle"><a>Magdagdag ng isang bagong pormularyong pambata</a></h2>
  <div id="join_form_options_menu" class="optionsMenu optionsMenuWide toggable windowDraggable=true windowFloats=true">
    <div class="optionsMenuTitle window_drag">Magdagdag ng Isang Bagong Pormularyo </div>
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  Pumili ng isang pormularyong pambata na isasali sa pormularyong ito:
	</td>
	<td>
	  <select name="form_which" id="join_forms_selector"></select></td>
      </tr><tr><td>
	  <h3>Maikling Pangalan:</h3>Isang panloob na susi na ginagamit pagkilala ng ugnayang ng pormularyo.  Ito ay maaaring hindi katulad ng susi para sa anuman sa umiiral na pinangalanang mga pormularyo sa loob ng ugnayang ito.
	</td>
	<td>
	  <input id="form_name" name="form_name" type="text" value="" class="validate=[nonempty,magicdatakey,notinlist]"></td>
      </tr><tr><td>
	  <h3>Ipakita ang Pangalan:</h3>Ang pangalan ng isinamang pormularyo na ipinapakita sa nasa tumatanggap na tagagamit.
	</td>
	<td>
	  <input name="display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <h3>Paglalarawan:</h3>Isang paglalarawan ng pormularyo at ang gampanin nito sa ugnayan na dapat na nauunawaan ng tumatanggap na tagagamit.
	</td>
	<td>
	  <textarea name="description" rows="4" cols="53" value=""></textarea></td>
      </tr><tr><td colspan="2">
	  <div></div>
	  <span class="join_form_options_hide button optionsMenuButton window_hide">Isara</span>
	  <input type="submit" class="button only_options_menu" value="Add" id="join_form"><div></div>
	  <br></td>
      </tr></table></div>
</div>