<div>
  <h2><span name="form_name"></span></h2>
  <div id="join_cookie_trail">
  </div>
  <p dir="rtl">
    النموذج المقرر <span name="form_name"></span> يستخدم النموذج <span name="real_form"></span>
    <span name="form_join_description"></span>
  </p>
  <div id="form_meta_options_menu">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td dir="rtl">
	  <h3 dir="rtl">عرض اسم:</h3>اسم النموذج التي يتم عرضها للمستخدم النهائي. إذا تم تحديد لا شيء، ثم لإسم المختصر (<span name="form_name"></span>) تم عرضه
	</td>
	<td>
	  <input name="form_display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td dir="rtl">
	  <h3 dir="rtl">توصيف:</h3>وصف النموذج الذي يجب أن يكون مفهوما من قبل المستخدم النهائي.
	</td>
	<td>
	  <textarea name="form_description" rows="4" cols="53" value=""></textarea></td>
      </tr><tr><td colspan="2">
	  <input id="form_meta" name="action" class="button" type="submit" value="Edit"></td>
      </tr></table></div>
</div>