<div>

  <div id="relationship_meta"></div>

  <span id="relationship_contents">
    <span id="drop_empty_contents">
    </span>
    <span id="displaystyle_contents">
    </span>
    <span id="relationship_joins" dir="rtl">
      <h2><a name="relationship_joins_link" href="" dir="rtl">نماذج مربوطة</a></h2>
      قم بربط النماذج الجديدة لهذه علاقة
      <span ifset="true" name="description" class="configurationGroupDescription">
	<span name="description"></span>
      </span>
      <div class="indented" id="relationship_joins_ajax">
      </div>
    </span>


    
    <span id="relationship_where" dir="rtl">
      <h2><a name="relationship_where_link" href="" dir="rtl">تحديد هذا النموذج</a></h2>
      تحديد نوع النماذج المضافة بناء علي القيم الخاصة بحقل واحد لهذا النموذج
      <span ifset="true" name="description" class="configurationGroupDescription">
	<span name="description"></span>
      </span>
      <div class="indented" id="relationship_where_ajax">
      </div>
    </span>


    <span id="relationship_ancestors" dir="rtl">
      <h2><a name="relationship_ancestors_link" href="" dir="rtl">ربط هذا النموذج</a></h2>
      ربط هذا النموذج بنموذج آخر في العلاقة من خلال تحديد الحقول التي تحتاج إلى أن تكون متشابهة.  
      <span ifset="true" name="description" class="configurationGroupDescription">
	<span name="description"></span>
      </span>
      <div class="indented" id="relationship_ancestors_ajax">
      </div>
    </span>


  </span>
    
  <div name="reporting_functions_link" ifset="true">
    <span id="reporting_functions">
      <h2><a name="reporting_functions_link" href="" dir="rtl"> وظائف</a></h2>
      <div class="indented" id="reporting_functions_ajax">
      </div>
    </span>
  </div>
  
    
</div>
