<div>
  <h2><span name="form_name"></span></h2>
  <p><span printf="'Ang pormularyong %1$s sa loob ng ugnayan ay tumutukoy sa tunay na pormularyong %2$s.',$form_name,$real_form"></span></p>
  <div id="form_meta_options_menu">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Ipakita ang Pangalan:</h3>Ang pangalan ng ugnayang ito na ipinapakita sa tumatanggap na tagagamit.  
	</td>
	<td>
	  <input name="display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <h3>Paglalarawan:</h3>Isang paglalarawan ng ugnayang dapat na nauunawaan ng tumatanggap na tagagamit.
	</td>
	<td>
	  <textarea name="description" rows="4" cols="53" value=""></textarea></td>
      </tr></table></div>
</div>
