<div>
  <h2><span name="form_name"></span></h2>
  <p><span printf="'The form %1$s in the relationship refers to the real form %2$s.',$form_name,$real_form"></span></p>
  <div id="form_meta_options_menu">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Nome visualizzato:</h3>Il nome di questa relationship che verrà visualizzato dall'utente finale.  
	</td>
	<td>
	  <input name="display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <h3>Descrizione:</h3>Una descrizione della relationship che deve essere comprensibile all'utente finale.
	</td>
	<td>
	  <textarea name="description" rows="4" cols="53" value=""></textarea></td>
      </tr></table></div>
</div>
