<div id="siteContent">
  <h2>Visualizzatore dello status dei processi in background</h2>
  <p>
    <span name="background_status">
    </span>
    <span name="background_status_content" ifset="true">
      <pre name="background_status_content" class="processScroll"></pre>
    </span>
  </p>
  <ul id="background_menu"></ul><span ifset="true" name="background_tail">
    <h3>Log dei processi in background <span name="process_number"></span></h3>
    <pre name="background_tail" class="processScroll"></pre>
  </span>
</div>