<div id="condition_contents">
  <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	<h3>Campo:</h3>The field of this form we wish to link with.
      </td>
      <td>
	<select name="child_field"><option value="">Selecionar Valor</option></select></td>
    </tr><tr><td>
	<h3>Ancestor Form:</h3>O formulário nominado para o qual desejamos especificar a condição.
      </td>
      <td>
	<select name="anc_form" id="anc_form"><option value="">Selecionar Valor</option></select></td>
    </tr><tr><td>
	<h3>Ancestor Field:</h3>The field of the ancestral form we wish to link with.
      </td>
      <td id="anc_fields">
      </td>
    </tr></table></div>