<div class="facility_block">
    <script>
  
      document.addEventListener("DOMContentLoaded",
      function(event){
  
        console.log(event);
  
      let url_string = window.location.href;
      let url = new URL(url_string);
      let district = url.searchParams.get("district");
  
      let iframe =document.createElement('iframe');
      iframe.setAttribute('sandbox',"allow-downloads allow-forms allow-scripts allow-popups allow-popups-to-escape-sandbox allow-top-navigation allow-same-origin	");
      iframe.style.width='70vw';
      iframe.style.border='0px';
      iframe.style.height='100rem';
      iframe.setAttribute('src',`https://hris.health.go.ug/hrhdashboard/audit/lfacAudit?display=ihris&districts=${district}`); 
      
      let frame = document.getElementById('frame');
      //console.log(frame);
      frame.appendChild(iframe);
  
      });
    
  </script>
  <div id="frame"></div>
  </div>
  