<div id="siteContent">
    <h1>Amministra utenti</h1>

    <form method="GET" action="view_user">
      <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0"><tr><td>
	    <p><span class="field_head"><label for="user_list">Seleziona utente da amministrare</label></span></p>
	    <select name="username" id="user_list" onchange="this.form.submit();" style="width: 350px;"><option value="0">Aggiungi nuovo utente</option></select></td>
	</tr><tr class="submitCell"><td>
          <a href="user?add=1" class="button">aggiungi</a>
      </td></tr></table></form>
<p style="height:200px"> </p>
</div>

