<div id="condition_contents">
  <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	<h3>Campo:</h3>El campo de este formulario al que queremos enlazar.
      </td>
      <td>
	<select name="child_field"><option value="">Seleccione un valor</option></select></td>
    </tr><tr><td>
	<h3>Formulario Ancestro:</h3>El formulario nombrado al que queremos especificarle una condición.
      </td>
      <td>
	<select name="anc_form" id="anc_form"><option value="">Seleccione un valor</option></select></td>
    </tr><tr><td>
	<h3>Campo Ancestro:</h3>El campo de el formulario ancestro con el cual deseamos hacer vínculo.
      </td>
      <td id="anc_fields">
      </td>
    </tr></table></div>