<span>
  <span name="displayName"></span> --  <span name="description"></span>
  <span name="locale_container">   
    <h3>Idioma local:</h3>  
    <div>
      La lista de idiomas para buscar las traducciones en el archivo de localización <span name="displayName"></span>. Sí no está marcado, entonces se usa el idioma seleccionado, luego el idioma secundario, y luego <span name="locale_default"></span>.
    </div>
    <div>
      La resolución predeterminada es <span name="displayName"></span>,  <span name="locale_language"></span>, <span name="locale_default"></span>.
    </div>
    <div>
      Si deseas especificar una resolución de idioma alternativa, puedes hacerlo ingresándolos como una lista separada por comas, de mayor a menor prioridad.  
      <span printf="'Por ejemplo fr-RW,fr-FR,%s puede ser una resolución apropiada para el código local fr-RW.',$locale_default"></span>
      <span printf="'Si %s no está especificado en la lista, es automáticamente configurado como el idioma local de menor prioridad.',$locale_default"></span>
    </div>
    <input name="resolution" type="textbox"></span>
</span>
