<div>
  <h2><span name="form_name"></span></h2>
  <p><span printf="'El formulario %1$s en la relación se refiere al formulario real %2$s.',$form_name,$real_form"></span></p>
  <div id="form_meta_options_menu">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Nombre en Pantalla:</h3>El nombre de la relación que es mostrado al usuario final.  
	</td>
	<td>
	  <input name="display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <h3>Descripción:</h3>Una descripción de la relación. Debe ser comprensible para el usuario final.
	</td>
	<td>
	  <textarea name="description" rows="4" cols="53" value=""></textarea></td>
      </tr></table></div>
</div>
