<div id="siteContent">
    <h1>Znovu odeslat email pro ověření</h1>
    <div id="error"></div>
    <form method="post" action="RequestAccount-VerifyEmail">
      <input type="hidden" name="resend" value="1"><span type="form" name="id"></span>
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0"><tr><td>
                <div id="form">
                	<span type="form" name="user_request:email" showhead="default" noedit="true"></span>
                </div>
            </td></tr><tr class="submitCell"><td>
                    <div id="button"></div>
                </td>
            </tr></table></form>
</div>
