<div>
  <h2 id="join_form_link" class="join_form_options_toggle"><a>Adicionar um novo formulário filho</a></h2>
  <div id="join_form_options_menu" class="optionsMenu optionsMenuWide toggable windowDraggable=true windowFloats=true">
    <div class="optionsMenuTitle window_drag">Adicionar um novo formulário </div>
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  Selecione um formulário filho para juntar com esse formulário:
	</td>
	<td>
	  <select name="form_which" id="join_forms_selector"></select></td>
      </tr><tr><td>
	  <h3>Abreviação:</h3>An internal key used to identify the form relationship.  It may not be the
	  same as the key for any of the existing named forms in this relationship.
	</td>
	<td>
	  <input id="form_name" name="form_name" type="text" value="" class="validate=[nonempty,magicdatakey,notinlist]"></td>
      </tr><tr><td>
	  <h3>Nome de exibição:</h3>O nome do formulário resultante que é mostrado ao usuário final.
	</td>
	<td>
	  <input name="display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <h3>Descrição:</h3>Uma descrição do formulário e seu papel na relação, que deve ser legível para o usuário final.
	</td>
	<td>
	  <textarea name="description" rows="4" cols="53" value=""></textarea></td>
      </tr><tr><td colspan="2">
	  <div></div>
	  <span class="join_form_options_hide button optionsMenuButton window_hide">Fechar</span>
	  <input type="submit" class="button only_options_menu" value="Add" id="join_form"><div></div>
	  <br></td>
      </tr></table></div>
</div>