<div>
  <h2><span name="form_name"></span></h2>
  <p><span printf="'Fomu %1$s kwenye uhusiano unarejea kwenye fomu halisi %2$s.',$form_name,$real_form"></span></p>
  <div id="form_meta_options_menu">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Jina Linaloonyeshwa:</h3>Jina la uhusiano huu ambao unaonyeshwa kwa mtumiaji wa mwisho.  
	</td>
	<td>
	  <input name="display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <h3>Ufafanuzi:</h3>Ufafanuzi wa uhusiano ambao unapaswa kueleweka kwa mtumiaji wa mwisho.
	</td>
	<td>
	  <textarea name="description" rows="4" cols="53" value=""></textarea></td>
      </tr></table></div>
</div>
