<div id="password">
    <form method="post" action="password">
    <table class="multiFormTable" align="center"><tr><td id="message"></td></tr><tr><td><p><label>Contraseña anterior:<br><input type="password" name="old_password"></label></p>
    <p><label>Contraseña nueva:<br><input type="password" name="new_password"></label></p>
    <p><label>Confirmar Nueva Contraseña:<br><input type="password" name="confirm_password"></label></p>
    </td></tr><tr class="submitCell"><td>
        <input type="submit" name="submit" value="change password"></td></tr></table></form>
</div>
