<div>
  "Ici vous pouvez sélectionner les options régionales que vous souhaitez rendre disponibles au choix des utilisateurs pour le site. L’option régionale par défaut pour ce site est" <span name="locale_default_name"></span> (<span name="locale_default"></span>).
  <span id="locales_container">
    <ul id="locale_list"></ul><span name="has_def_locale" ifset="true">

      <h2 id="add_def_locale_link" class="add_def_locale_options_toggle"><a>Sélectionnez les paramètres régionaux disponibles</a></h2>
      <div id="add_def_locale_options_menu" class="optionsMenu optionsMenuWide toggable">
	<div class="optionsMenuTitle">Sélectionnez les paramètres régionaux disponibles </div>

	<h3>Paramètres régionaux disponibles:</h3>
	Sélectionnez les paramètres régionaux pour votre système
	<select name="def_locale" id="def_locale"><option>Sélectionnez les paramètres régionaux</option></select><br><span class="add_def_locale_options_hide window_hide button optionsMenuButton">Fermer</span>
	<input type="submit" class="button only_options_menu" value="Select" id="add_def_locale"></div>
    </span>
    
    <h2 id="add_locale_link" class="add_locale_options_toggle"><a>Ajouter une nouvelle option régionale</a></h2>
    <div id="add_locale_options_menu" class="optionsMenu optionsMenuWide toggable">
      <div class="optionsMenuTitle">Ajouter une nouvelle option régionale </div>

      <h3>Paramètres régionaux personnalisés:</h3>
      Vous pouvez entrer les paramètres régionaux personnalisés mis à la disposition de votre système.
      <input id="new_locale" name="new_locale" type="text" value="" class="validate=[magicdatakey,notinlist,simple_locale]"><br><span class="add_locale_options_hide window_hide button optionsMenuButton">Fermer</span>
      <input type="submit" class="button only_options_menu" value="Add" id="add_locale"></div>
  </span>
</div>