<div id="sql_function">
  De SQL-functie <span name="name"></span>
  <span name="description" ifset="true">
    --
    <span name="description"></span>
  </span>
  <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0" id="reporting_function"><tr><td>
	<h3>SQL-query:</h3> De bepalende SQL voor deze functie. U verwijst naar gerapporteerde velden als 'reportform + field'
      </td>
      <td>
	<span name="qry"></span>
      </td>
    </tr><tr><td> 
	<h3>Formulierveld:</h3> Het formulierveld waar deze functies waarden in accepteert
      </td>
      <td>
	<span name="formfield"></span>
      </td>
    </tr><tr><td>
	<h3>Selecteerbare formulieren</h3>De formulieren die te selecteren zijn voor dit veld. Is alleen van toepassing als het formulierveld een subklasse is van I2CE_FormField_MAPPED. In dat geval moet dit een lijst met formulieren zijn, gescheiden door komma's.
      </td>
      <td>
	<span name="select_forms"></span>
      </td>
    </tr><tr><td>
	<h3>Gekoppelde velden</h3>De velden die gekoppeld zijn als lijsten worden weergegeven. Alleen van toepassing als het formulierveld een subklasse is van I2CE_FormField_MAPPED. Dit moet een door dubbele punten gescheiden lijst zijn van "formulieren" of "formulier+koppelingsveld". Voorbeeld: "county:district+region:[region]:country".
      </td>
      <td>
	<span name="link_fields"></span>
      </td>
    </tr></table></div>
