<div id="condition_contents">
  <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	<h3>Hanay:</h3>Ang hanay ng pormularyong ito na nais naming pagkawingan.
      </td>
      <td>
	<select name="child_field"><option value="">Piliin ang Halaga</option></select></td>
    </tr><tr><td>
	<h3>Pormularyo ng Ninuno:</h3>Ang pormularyong pinangalanan na nais naming pagtukuyan ng kalagayan.
      </td>
      <td>
	<select name="anc_form" id="anc_form"><option value="">Piliin ang Halaga</option></select></td>
    </tr><tr><td>
	<h3>Hanay ng Ninuno:</h3>Ang hanay ng pormularyo ng ninuno na nais naming pagkawingan.
      </td>
      <td id="anc_fields">
      </td>
    </tr></table></div>