<div>

  <div id="relationship_meta"></div>

  <span id="relationship_contents">
    <span id="drop_empty_contents">
    </span>
    <span id="displaystyle_contents">
    </span>
    <span id="relationship_joins">
      <h2><a name="relationship_joins_link" href="">Pinagsamang mga Pormularyo</a></h2>
      Isama sa bagong mga pormularyo papunta sa ugnayang ito.
      <span ifset="true" name="description" class="configurationGroupDescription">
	<span name="description"></span>
      </span>
      <div class="indented" id="relationship_joins_ajax">
      </div>
    </span>


    
    <span id="relationship_where">
      <h2><a name="relationship_where_link" href="">Hanggahan ang Pormularyong Ito</a></h2>
      Hanggahan ang uri ng mga pormularyong idinadagdag batay sa mga halaga ng isa sa mga hanay ng pormularyong ito
      <span ifset="true" name="description" class="configurationGroupDescription">
	<span name="description"></span>
      </span>
      <div class="indented" id="relationship_where_ajax">
      </div>
    </span>


    <span id="relationship_ancestors">
      <h2><a name="relationship_ancestors_link" href="">Ikawing ang Pormularyong Ito</a></h2>
      Ikawing pormularyong ito sa pormularyo ng ninuno sa loob ng ugnayan sa pamamagitan ng pagtukoy sa mga hanay na kailangang magkatulad.  
      <span ifset="true" name="description" class="configurationGroupDescription">
	<span name="description"></span>
      </span>
      <div class="indented" id="relationship_ancestors_ajax">
      </div>
    </span>


  </span>
    
  <div name="reporting_functions_link" ifset="true">
    <span id="reporting_functions">
      <h2><a name="reporting_functions_link" href=""> Mga tungkulin</a></h2>
      <div class="indented" id="reporting_functions_ajax">
      </div>
    </span>
  </div>
  
    
</div>
