<div>
  <span name="functions_container" id="functions_container"> 
    <span id="reporting_functions_container">
      <span name="has_existing_functions" ifset="true">
	<h2>Umiiral na mga Tungkulin</h2>
	<ul id="existing_functions_list"></ul></span>
      <h2 id="new_function_link" class="new_function_options_toggle"><a>Magdagdag ng isang bagong tungkulin</a></h2>
      <div id="new_function_options_menu" class="optionsMenu optionsMenuWide toggable windowDraggable=true windowFloats=true">
	<div class="optionsMenuTitle window_drag">Magdagdag ng Isang Bagong Tungkulin</div>
	<table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	      <h3>Pangalan ng tungkulin:</h3>Isang pangalan para sa tungkuling ito na maaaring sangguniin kapag lumilikha ng mga ulat.
	    </td>
	    <td>
	      <input type="text" name="name" id="function_name" value="" class="validate=[nonempty,notinlist,alphanumericextended,magicdatakey]"></td>
	  </tr><tr><td>
	      <h3>Tanong ng SQL:</h3> Ang nagbibigay ng kahulugang SQL para sa tungkuling ito.  Tutukuyin mo ang isang pormularyo na may pangalang  &lt;formname&gt; at ang hanay na &lt;field&gt; `&lt;formname&gt;+&lt;field&gt;` sa loob ng tungkulin mo.
	    </td>
	    <td>
	      <textarea rows="4" cols="53" name="qry" class="validate=[nonempty]"></textarea></td>
	  </tr><tr><td>
	      <h3>Paglalarawan:</h3> Isang paglalarawan ng tungkuling ito na ipapakita sa tumatanggap na tagagamit
	    </td>
	    <td>
	      <textarea type="text" name="description" rows="4" cols="53"></textarea></td>
	  </tr><tr><td colspan="2"> 
	      <h3>Hanay ng Pormularyo:</h3> Piliin ang hanay ng pormularyo na pinagkukunan ng halaga ng tungkuling ito
	      <select name="formfield"></select></td>
	  </tr><tr><td colspan="2">
	      <div></div>
	      <span class="new_function_options_hide button optionsMenuButton window_hide">Isara</span>
	      <input type="submit" class="button only_options_menu " value="Create" id="new_function"><div></div>
	      <br></td>
	  </tr></table></div>
    </span>
  </span>
</div>