<tr><td>
    <span name="field_name"></span>
  </td>
  <td>
    <span name="field_type" ifset="true">
      <span name="field_class" ifset="true" dir="rtl">
	الحقل <span name="field_name"></span> تم تسجيله بنوع <span name="field_type"></span> و التي تمنح من <span name="field_class"></span>.
      </span>
      <span name="field_class" ifset="!true" dir="rtl">
	الحقل <span name="field_name"></span> تم تسجيله بنوع <span name="field_type"></span>.
	<span class="error" dir="rtl">تحذير: الحقل "<span name="field_name"></span>لا يرتبط "مع أي فئة.</span>
      </span>
    </span>
    <span name="field_type" ifset="!true">
      <span class="error" dir="rtl">تحذير: الحقل "<span name="field_name"></span>ليس لديه نوع مسجل            .</span>
    </span>
    <span name="field_id" ifset="true" dir="rtl">
      الحقل ذو رقم تعريفي <span name="field_id"></span>.
    </span>
    <span name="linked_form_name" ifset="true" dir="rtl">
      هذا الحقل يربط النموذج <a href="" name="linked_form_link" id="linked_form_link"><span name="linked_form_name"></span></a>
    </span> 
  </td>
</tr>