<div>
  <h2 id="join_form_link" class="join_form_options_toggle"><a>Adicionar um novo child form</a></h2>
  <div id="join_form_options_menu" class="optionsMenu optionsMenuWide toggable windowDraggable=true windowFloats=true">
    <div class="optionsMenuTitle window_drag">Adicionar uma Nova Ficha </div>
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  Seleccionar um child form para juntar a esta ficha:
	</td>
	<td>
	  <select name="form_which" id="join_forms_selector"></select></td>
      </tr><tr><td>
	  <h3>Denominação Breve:</h3>Uma chave interna para identificar a relação entre fichas. Poderá não ser a mesma chave para qualquer das fichas existentes nesta relação.
	</td>
	<td>
	  <input id="form_name" name="form_name" type="text" value="" class="validate=[nonempty,magicdatakey,notinlist]"></td>
      </tr><tr><td>
	  <h3>Nome Indicado:</h3>o nome da ficha conjunta que é indicado pelo utilizador final.
	</td>
	<td>
	  <input name="display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <h3>Descrição:</h3>Uma descrição da ficha e o seu papel na relação, o qual deverá ser compreensivel para o utilizador final.
	</td>
	<td>
	  <textarea name="description" rows="4" cols="53" value=""></textarea></td>
      </tr><tr><td colspan="2">
	  <div></div>
	  <span class="join_form_options_hide button optionsMenuButton window_hide">Fechar</span>
	  <input type="submit" class="button only_options_menu" value="Add" id="join_form"><div></div>
	  <br></td>
      </tr></table></div>
</div>