<tr><td>
    <span name="field_name"></span>
  </td>
  <td>
    <span name="field_type" ifset="true">
      <span name="field_class" ifset="true">
	Ang hanay <span name="field_name"></span> ay nakatala bilang uring <span name="field_type"></span> ibinigay ng <span name="field_class"></span>.
      </span>
      <span name="field_class" ifset="!true">
	Ang hanay <span name="field_name"></span> ay nakatala bilang uring <span name="field_type"></span>.
	<span class="error">Babala: Ang hanay na '<span name="field_name"></span>' ay walang kaugnayan sa anumang klase.</span>
      </span>
    </span>
    <span name="field_type" ifset="!true">
      <span class="error">Babala: Ang hanay na '<span name="field_name"></span>' ay walang nakatalang uri.</span>
    </span>
    <span name="field_id" ifset="true">
      Ang hanay ay may pagkakakilanlang <span name="field_id"></span>.
    </span>
    <span name="linked_form_name" ifset="true">
      Ang hanay na ito ay kumakawing sa pormularyong <a href="" name="linked_form_link" id="linked_form_link"><span name="linked_form_name"></span></a>
    </span> 
  </td>
</tr>