<div>
  <h2 id="join_form_link" class="join_form_options_toggle"><a>Přidat nový podřazený formulář</a></h2>
  <div id="join_form_options_menu" class="optionsMenu optionsMenuWide toggable windowDraggable=true windowFloats=true">
    <div class="optionsMenuTitle window_drag">Přidat nový formulář </div>
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  Vyberte podřazený formulář pro připojení k tomuto formuláři:
	</td>
	<td>
	  <select name="form_which" id="join_forms_selector"></select></td>
      </tr><tr><td>
	  <h3>Krátký název:</h3>Vnitřní klíč, kterým se určuje vztah formuláře. Nemusí být stejný jako klíč pro jakékoliv existující pojmenované formuláře v tomto vztahu.
	</td>
	<td>
	  <input id="form_name" name="form_name" type="text" value="" class="validate=[nonempty,magicdatakey,notinlist]"></td>
      </tr><tr><td>
	  <h3>Zobrazený název:</h3>Název připojeného formuláře, který je zobrazen koncovému uživateli.
	</td>
	<td>
	  <input name="display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <h3>Popis:</h3>Popis formuláře, a jeho role ve vztahu, který by měl být srozumitelný pro koncového uživatele.
	</td>
	<td>
	  <textarea name="description" rows="4" cols="53" value=""></textarea></td>
      </tr><tr><td colspan="2">
	  <div></div>
	  <span class="join_form_options_hide button optionsMenuButton window_hide">Zavřít</span>
	  <input type="submit" class="button only_options_menu" value="Add" id="join_form"><div></div>
	  <br></td>
      </tr></table></div>
</div>