<div id="condition_contents">
  <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	<h3>Pole:</h3>Pole tohoto formuláře, s kterým chcete propojit.
      </td>
      <td>
	<select name="child_field"><option value="">Vyberte Hodnotu</option></select></td>
    </tr><tr><td>
	<h3>Formulář předchůdce:</h3>Pojmenovaný formulář, kterému chcete určit podmínku.
      </td>
      <td>
	<select name="anc_form" id="anc_form"><option value="">Vyberte Hodnotu</option></select></td>
    </tr><tr><td>
	<h3>Pole předchůdce:</h3>Pole formuláře předchůdce, s kterým chcete propojit.
      </td>
      <td id="anc_fields">
      </td>
    </tr></table></div>