<div>
  <h2><span name="form_name"></span></h2>
  <p><span printf="'Formulář %1$s ve vztahu odkazuje na opravdový formulář %2$s.',$form_name,$real_form"></span></p>
  <div id="form_meta_options_menu">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Zobrazený název:</h3>Název tohoto vztahu, který je zobrazen koncovému uživateli.  
	</td>
	<td>
	  <input name="display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <h3>Popis:</h3>Popis vztahu, který by měl srozumitelný pro koncového uživatel pochopit.
	</td>
	<td>
	  <textarea name="description" rows="4" cols="53" value=""></textarea></td>
      </tr></table></div>
</div>
