<tr><td>
    <span name="field_name"></span>
  </td>
  <td>
    <span name="field_type" ifset="true">
      <span name="field_class" ifset="true">
	El campo <span name="field_name"></span> es registrado como de tipo <span name="field_type"></span> que es proporcionado por <span name="field_class"></span>.
      </span>
      <span name="field_class" ifset="!true">
	El campo <span name="field_name"></span> es registrado como de tipo <span name="field_type"></span>.
	<span class="error">Advertencia: El campo '<span name="field_name"></span>' no está asociado a ninguna clase.</span>
      </span>
    </span>
    <span name="field_type" ifset="!true">
      <span class="error">Advertencia: El campo '<span name="field_name"></span>' no tiene un tipo registrado.</span>
    </span>
    <span name="field_id" ifset="true">
      El campo tiene identificador <span name="field_id"></span>.
    </span>
    <span name="linked_form_name" ifset="true">
      El campo está enlazado al formulario <a href="" name="linked_form_link" id="linked_form_link"><span name="linked_form_name"></span></a>
    </span> 
  </td>
</tr>