<tr><td>
    <span name="field_name"></span>
  </td>
  <td>
    <span name="field_type" ifset="true">
      <span name="field_class" ifset="true">
	Pole <span name="field_name"></span> je registrováno jako typ <span name="field_type"></span> který je poskytnut <span name="field_class"></span>.
      </span>
      <span name="field_class" ifset="!true">
	Pole <span name="field_name"></span> je registrováno jako typ <span name="field_type"></span>.
	<span class="error">Varování: Pole '<span name="field_name"></span>' není přidruženo k žádné třídě</span>
      </span>
    </span>
    <span name="field_type" ifset="!true">
      <span class="error">Varování: Pole '<span name="field_name"></span>' nemá registrovaný typ</span>
    </span>
    <span name="field_id" ifset="true">
      Pole má id <span name="field_id"></span>.
    </span>
    <span name="linked_form_name" ifset="true">
      Toto pole odkazuje na formulář <a href="" name="linked_form_link" id="linked_form_link"><span name="linked_form_name"></span></a>
    </span> 
  </td>
</tr>