<div>

  <div id="relationship_meta"></div>

  <span id="relationship_contents">
    <span id="drop_empty_contents">
    </span>
    <span id="displaystyle_contents">
    </span>
    <span id="relationship_joins">
      <h2><a name="relationship_joins_link" href="">Formulaire joints</a></h2>
      Joindre les nouveaux formulaire à ce relation.
      <span ifset="true" name="description" class="configurationGroupDescription">
	<span name="description"></span>
      </span>
      <div class="indented" id="relationship_joins_ajax">
      </div>
    </span>


    
    <span id="relationship_where">
      <h2><a name="relationship_where_link" href="">Limiter ce formulaire</a></h2>
      Limiter le type de formulaires ajoutés sur la base d'un des champs de ce formulaire
      <span ifset="true" name="description" class="configurationGroupDescription">
	<span name="description"></span>
      </span>
      <div class="indented" id="relationship_where_ajax">
      </div>
    </span>


    <span id="relationship_ancestors">
      <h2><a name="relationship_ancestors_link" href="">Lier ce formulaire</a></h2>
      Lier ce formulaire à un formulaire-parent dans la relation en spécifier les champs qui doivent être identiques  
      <span ifset="true" name="description" class="configurationGroupDescription">
	<span name="description"></span>
      </span>
      <div class="indented" id="relationship_ancestors_ajax">
      </div>
    </span>


  </span>
    
  <div name="reporting_functions_link" ifset="true">
    <span id="reporting_functions">
      <h2><a name="reporting_functions_link" href=""> Fonctions</a></h2>
      <div class="indented" id="reporting_functions_ajax">
      </div>
    </span>
  </div>
  
    
</div>
