<span>
  <span name="displayName"></span> --  <span name="description"></span>
  <span name="locale_container">   
    <h3>Resolusyon ng Lugar:</h3>  
    <div>
      Ang tala ng mga katutubong lugar sa paghahanap ng mga salinwika ng katutubong lugar <span name="displayName"></span>.  Kung hindi nakatakda, kung gayon ang napiling katutubong pook ay susuriin, at pagkaraan ay ang nakapailalim na wika, at pagkaraan ay ang <span name="locale_default"></span>.
    </div>
    <div>
      Ang likas na nakatadang resolusyon ay <span name="displayName"></span>,  <span name="locale_language"></span>, <span name="locale_default"></span>.
    </div>
    <div>
      If you wish to specify an alternate locale resolution you may do so by entering them as a
      comma separated list from highest priority to lowest priority.  
      <span printf='"For example fr-RW,fr-FR,%s  may be an appropriate resolution for the locale fr-RW.",$locale_default'></span>
      <span printf='"If %s is not specified in the list, it is automatically set as the lowest priority locale.",$locale_default'></span>
    </div>
    <input name="resolution" type="textbox"></span>
</span>
