<div>
  <h2><span name="form_name"></span></h2>
  <p><span printf="'Le formulaire %1$s dans la relation désigne le véritable formulaire %2$s.',$form_name,$real_form"></span></p>
  <div id="form_meta_options_menu">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Nom d’affichage:</h3>Le nom de cette relation qui est affiché pour l’utilisateur final.  
	</td>
	<td>
	  <input name="display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <h3>Description:</h3>Une description de la relation qui doit être compréhensible pour l’utilisateur final.
	</td>
	<td>
	  <textarea name="description" rows="4" cols="53" value=""></textarea></td>
      </tr></table></div>
</div>
