<div>
  <h2><span name="form_name"></span></h2>
  <div id="join_cookie_trail">
  </div>
  <p>
    Le formulaire rapporté <span name="form_name"></span> utilise le formulaire <span name="real_form"></span>
    <span name="form_join_description"></span>
  </p>
  <div id="form_meta_options_menu">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Nom d’affichage:</h3>Le nom du formulaire qui est affiché pour l’utilisateur final. Si aucun n’est spécifié, alors le nom abrégé (<span name="form_name"></span>) est affiché.
	</td>
	<td>
	  <input name="form_display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <h3>Description:</h3>Une description du formulaire qui doit être compréhensible pour l’utilisateur final
	</td>
	<td>
	  <textarea name="form_description" rows="4" cols="53" value=""></textarea></td>
      </tr><tr><td colspan="2">
	  <input id="form_meta" name="action" class="button" type="submit" value="Edit"></td>
      </tr></table></div>
</div>