<div id="condition_contents">
  <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	<h3>Champ:</h3>Le champ du formulaire avec lequel faire la liaison
      </td>
      <td>
	<select name="child_field"><option value="">Choisir une valeur</option></select></td>
    </tr><tr><td>
	<h3>Formulaire ancêtre (parent):</h3>Le formulaire nommé pour lequel on veut spécifier des conditions
      </td>
      <td>
	<select name="anc_form" id="anc_form"><option value="">Choisir une valeur</option></select></td>
    </tr><tr><td>
	<h3>Champ ancêtre (parent):</h3>Le champ du formulaire-parent avec lequel on veut faire la laison
      </td>
      <td id="anc_fields">
      </td>
    </tr></table></div>