<div id="magicdata_export_control">  
  <span type="module" ifenable="true" name="magicDataExport">
    <form id="magicdata_export_form" method="GET">
      <!--<input id="magicdata_export" class="button action=index.php/magicDataExport/export" type="submit"   value="Export" /> -->
      <div class="clickableText magicdata_export_options_toggle centered button" dir="rtl">إصدار</div>
      <div class="optionsMenu toggable windowFloats=true windowDraggable=true" id="magicdata_export_options_menu">
	<input type="hidden" name="config_path"><div class="optionsMenuTitle window_drag" dir="rtl"> خيارات الإصدار </div>
	<hr><p>
	  <span class="field_head"><label dir="rtl">اسم الوحدة</label></span>
	  <br><span class="form_field"><input name="name" type="text" value="" class="validate=[nonempty,magicdatakey]"></span>
	  <br><span class="field_description" dir="rtl">	اسم الوحدة الخاصة بالبيانات الصادرة (مطلوب).</span>
	</p>
	<p>
	  <span class="field_head"><label dir="rtl">الاسم المعروض</label></span>
	  <br><span class="form_field"><input name="displayName" type="text" value="" class="validate=[nonempty]"></span>
	  <br><span class="field_description" dir="rtl">	الاسم  المعروض للبيانات الصادرة (مطلوب).</span>
	</p>
	<p>
	  <span class="field_head"><label dir="rtl">الإصدار</label></span>
	  <br><span class="form_field"><input name="version" type="text" value="1.0.0" class="validate=[nonempty,version]"></span>
	  <br><span class="field_description" dir="rtl">	رقم إصدار للبيانات (مطلوب)</span>
	</p>
	<p>
	  <span class="field_head"><label dir="rtl">وصف</label></span>
	  <br><span class="form_field"><textarea name="description" id="description" rows="5" cols="25"></textarea></span>
	  <br><span class="field_description" dir="rtl">وصف موجز للبيانات التي تم اصدارها (اختياري)</span>
	</p>
	<table><tr><td>
	      <div class="button optionsMenuButton window_hide" dir="rtl"> أغلق </div>
	    </td>
	    <td>
	      <input id="magicdata_export" class="button action=index.php/magicDataExport/export" type="submit" value="Export"></td>
	  </tr></table></div>
    </form>
  </span>
</div>
