<tr><td>
    <span name="field_name"></span>
  </td>
  <td>
    <span name="field_type" ifset="true">
      <span name="field_class" ifset="true">
	Het veld <span name="field_name"></span> is geregistreerd als type <span name="field_type"></span> dat wordt geleverd door <span name="field_class"></span>.
      </span>
      <span name="field_class" ifset="!true">
	Het veld <span name="field_name"></span> is geregistreerd als type <span name="field_type"></span>.
	<span class="error">Waarschuwing: Het veld "<span name="field_name"></span>" is niet gekoppeld aan een klasse.</span>
      </span>
    </span>
    <span name="field_type" ifset="!true">
      <span class="error">Waarschuwing: Het veld "<span name="field_name"></span>" heeft geen geregistreerd type.</span>
    </span>
    <span name="field_id" ifset="true">
      Het veld heeft ID <span name="field_id"></span>.
    </span>
    <span name="linked_form_name" ifset="true">
      Dit veld is gekoppeld aan het formulier <a href="" name="linked_form_link" id="linked_form_link"><span name="linked_form_name"></span></a>
    </span> 
  </td>
</tr>