<div id="condition_contents">
  <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td dir="rtl">
	<h3 dir="rtl">حقل:</h3>حقل هذا النموذج الذي نود ربطه
      </td>
      <td>
	<select name="child_field"><option value="" dir="rtl">حدد قيمة</option></select></td>
    </tr><tr><td dir="rtl">
	<h3 dir="rtl">شكل السلف:</h3>اسم الملف الذي نود  تحديد حالته.
      </td>
      <td>
	<select name="anc_form" id="anc_form"><option value="" dir="rtl">حدد قيمة</option></select></td>
    </tr><tr><td dir="rtl">
	<h3 dir="rtl">حقل السلف:</h3>حقل نموذج السلف الذي نود أن نرتبط معه.
      </td>
      <td id="anc_fields">
      </td>
    </tr></table></div>