<div>
  <h2><span name="form_name"></span></h2>
  <div id="join_cookie_trail">
  </div>
  <p>
    The reported form <span name="form_name"></span> usa o formulário <span name="real_form"></span>
    <span name="form_join_description"></span>
  </p>
  <div id="form_meta_options_menu">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Nome de exibição:</h3>O nome do formulário que é disponibilizado para o usuário final. If nenhum for especificado, então a abreviação (<span name="form_name"></span>↓) é visualizado.
	</td>
	<td>
	  <input name="form_display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <h3>Descrição:</h3>Uma descrição do formulário compreensível para o usuário final.
	</td>
	<td>
	  <textarea name="form_description" rows="4" cols="53" value=""></textarea></td>
      </tr><tr><td colspan="2">
	  <input id="form_meta" name="action" class="button" type="submit" value="Edit"></td>
      </tr></table></div>
</div>