<div id="condition_contents">
  <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	<h3>Campo:</h3>O campo do formulario co que queremos ligar.
      </td>
      <td>
	<select name="child_field"><option value="">Seleccione o valor</option></select></td>
    </tr><tr><td>
	<h3>Formulario antecesor:</h3>O formulario con nome para o que queremos especificar a condición.
      </td>
      <td>
	<select name="anc_form" id="anc_form"><option value="">Seleccione o valor</option></select></td>
    </tr><tr><td>
	<h3>Campo antecesor:</h3>O campo do formulario antecesor co que queremos ligar.
      </td>
      <td id="anc_fields">
      </td>
    </tr></table></div>