<div>

  <div id="relationship_meta"></div>

  <span id="relationship_contents">
    <span id="drop_empty_contents">
    </span>
    <span id="displaystyle_contents">
    </span>
    <span id="relationship_joins">
      <h2><a name="relationship_joins_link" href="">Formularios unidos</a></h2>
      Unir novos formularios a esta relación.
      <span ifset="true" name="description" class="configurationGroupDescription">
	<span name="description"></span>
      </span>
      <div class="indented" id="relationship_joins_ajax">
      </div>
    </span>


    
    <span id="relationship_where">
      <h2><a name="relationship_where_link" href="">Limitar este formulario</a></h2>
      Limitar o tipo de formularios engadidos en base aos valores dun dos campo deste formulario
      <span ifset="true" name="description" class="configurationGroupDescription">
	<span name="description"></span>
      </span>
      <div class="indented" id="relationship_where_ajax">
      </div>
    </span>


    <span id="relationship_ancestors">
      <h2><a name="relationship_ancestors_link" href="">Ligar este formulario</a></h2>
      Ligar este formulario cun formulario antecesor especificando os campo que deben ser idénticos.  
      <span ifset="true" name="description" class="configurationGroupDescription">
	<span name="description"></span>
      </span>
      <div class="indented" id="relationship_ancestors_ajax">
      </div>
    </span>


  </span>
    
  <div name="reporting_functions_link" ifset="true">
    <span id="reporting_functions">
      <h2><a name="reporting_functions_link" href=""> Funcións</a></h2>
      <div class="indented" id="reporting_functions_ajax">
      </div>
    </span>
  </div>
  
    
</div>
