<div>
  <h2><span name="form_name"></span></h2>
  <div id="join_cookie_trail">
  </div>
  <p>
    Das berichtete Datenblatt <span name="form_name"></span> nutzt das Datenblatt <span name="real_form"></span>
    <span name="form_join_description"></span>
  </p>
  <div id="form_meta_options_menu">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Anzeigename:</h3>Der Name des Datenblatts, der dem Anwender angezeigt wird. Sofern keiner angegeben wird, wird der Kurzname (<span name="form_name"></span>) angezeigt.
	</td>
	<td>
	  <input name="form_display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <h3>Beschreibung:</h3>Eine Beschreibung des Datenblatts, die dem Anwender verständlich sein sollte.
	</td>
	<td>
	  <textarea name="form_description" rows="4" cols="53" value=""></textarea></td>
      </tr><tr><td colspan="2">
	  <input id="form_meta" name="action" class="button" type="submit" value="Edit"></td>
      </tr></table></div>
</div>