<div>

  <div id="relationship_meta"></div>

  <span id="relationship_contents">
    <span id="drop_empty_contents">
    </span>
    <span id="displaystyle_contents">
    </span>
    <span id="relationship_joins">
      <h2><a name="relationship_joins_link" href="">Verknüpfte Datenblätter</a></h2>
      Neue Datenblätter zu dieser Datenblattverbindung hinzufügen.
      <span ifset="true" name="description" class="configurationGroupDescription">
	<span name="description"></span>
      </span>
      <div class="indented" id="relationship_joins_ajax">
      </div>
    </span>


    
    <span id="relationship_where">
      <h2><a name="relationship_where_link" href="">Dieses Datenblatt beschränken</a></h2>
      Die hinzufügbaren Datenblattarten anhand der Werte beschränken, die eines der enthaltenen Datenfelder enthält
      <span ifset="true" name="description" class="configurationGroupDescription">
	<span name="description"></span>
      </span>
      <div class="indented" id="relationship_where_ajax">
      </div>
    </span>


    <span id="relationship_ancestors">
      <h2><a name="relationship_ancestors_link" href="">Dieses Datenblatt verknüpfen</a></h2>
      Dieses Datenblatt mit einem vormaligen Datenblatt aus der Datenblattverbindung verknüpfen, indem die Felder angegeben werden, die übereinstimmen müssen.  
      <span ifset="true" name="description" class="configurationGroupDescription">
	<span name="description"></span>
      </span>
      <div class="indented" id="relationship_ancestors_ajax">
      </div>
    </span>


  </span>
    
  <div name="reporting_functions_link" ifset="true">
    <span id="reporting_functions">
      <h2><a name="reporting_functions_link" href=""> Funktionen</a></h2>
      <div class="indented" id="reporting_functions_ajax">
      </div>
    </span>
  </div>
  
    
</div>
