<li>
  <span name="browser_magic_data_key_label"></span> =&gt; 
    <form method="POST" name="change_value_action">
      <input type="hidden" name="caller"><input name="browser_magic_data_value" type="text" size="25"><input name="browser_magic_data_key" type="hidden"></form>
    <form method="POST" name="erase_action">
      <input type="hidden" name="caller"><input type="submit" value="Erase" onclick="if (confirm('Are you sure?')) {return true;} else {return false;}"></form>
    <form method="POST" name="trans_action">
      <input type="hidden" name="caller"><input type="submit" value="Toggle Translatable"></form>
    <span class="dropdown">
      <a href="#" class="dropdown-toggle"> Importa <b class="caret "></b> </a>
      <ul class="dropdown-menu" style="width:40em"><li>
	  <form method="POST" name="upload_action" enctype="multipart/form-data">
	    <h4>Imposta dal file.:</h4>
	    <input type="hidden" name="caller">
	    File di input:<input type="file" name="upload"><br><input type="submit" value="Upload"></form>
	</li>
	<li>
	  
	  <form method="POST" name="load_action" enctype="multipart/form-data">
	    <h4>Carica dal foglio di calcolo:</h4>
	    <input type="hidden" name="caller">
	    File di input:<input type="file" name="csv"><br>
	    URL di input:<input type="text" name="csv_url"><br>
	    Trasforma file.:<input type="file" name="transform"><br>
	    Trasformazione registrata:<select name="transform_key"><option value="">Select A Registered Transformation</option></select><br><input type="checkbox" value="1">Cancella al caricamento 
	    <br><input type="submit" value="Upload"></form>
	</li>
	<li>
	  <form method="POST" name="load_action" enctype="multipart/form-data">
	    <h4>Carica da XML:</h4>
	    <input type="hidden" name="caller">
	    File di input:<input type="file" name="xml"><br>
	    URL di input:<input type="file" name="xml_url"><br>
	    Trasforma file.:<input type="file" name="transform"><br>
	    Trasformazione registrata:<select name="transform_key"><option value="">Select A Registered Transformation</option></select><br><input type="checkbox" value="1">Cancella al caricamento 
	    <br><input type="submit" value="Upload"></form>
	</li>
      </ul></span>
</li>

