<div>
  <h2><span name="form_name"></span></h2>
  <p><span printf="'Форма %1$s у зв'язках посилається на справжню форму %2$s.',$form_name,$real_form"></span></p>
  <div id="form_meta_options_menu">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Показати ім'я:</h3>Назва цього зв'язку, яка відображається для кінцевого користувача.  
	</td>
	<td>
	  <input name="display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <h3>Опис:</h3>Опис зв'язків, які повинні бути зрозумілі кінцевому користувачеві.
	</td>
	<td>
	  <textarea name="description" rows="4" cols="53" value=""></textarea></td>
      </tr></table></div>
</div>
