<div>
  <h2><span name="form_name"></span></h2>
  <p><span printf="'Het formulier %1$s in de relatie verwijst naar het echte formulier %2$s.',$form_name,$real_form"></span></p>
  <div id="form_meta_options_menu">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Weergavenaam:</h3>De naam van deze relatie die wordt weergegeven aan de eindgebruiker.  
	</td>
	<td>
	  <input name="display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <h3>Beschrijving:</h3>Een beschrijving van de relatie die begrijpelijk moet zijn voor de eindgebruiker.
	</td>
	<td>
	  <textarea name="description" rows="4" cols="53" value=""></textarea></td>
      </tr></table></div>
</div>
