<div>
  <h2><span name="form_name"></span></h2>
  <div id="join_cookie_trail">
  </div>
  <p>
    Het gerapporteerde formulier <span name="form_name"></span> gebruikt het formulier <span name="real_form"></span>
    <span name="form_join_description"></span>
  </p>
  <div id="form_meta_options_menu">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Weergavenaam:</h3>De naam van het formulier dat wordt weergegeven aan de eindgebruiker. Als er geen formulier is opgegeven, dan wordt de korte naam (<span name="form_name"></span>) weergegeven.
	</td>
	<td>
	  <input name="form_display_name" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <h3>Beschrijving:</h3>Een beschrijving van het formulier die begrijpelijk moet zijn voor een eindgebruiker.
	</td>
	<td>
	  <textarea name="form_description" rows="4" cols="53" value=""></textarea></td>
      </tr><tr><td colspan="2">
	  <input id="form_meta" name="action" class="button" type="submit" value="Edit"></td>
      </tr></table></div>
</div>