<div id="condition_contents">
  <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	<h3>Veld:</h3>Het veld van dit formulier waarmee wordt gekoppeld.
      </td>
      <td>
	<select name="child_field"><option value="">Selecteer waarde</option></select></td>
    </tr><tr><td>
	<h3>Ouderformulier:</h3>De naam van het formulier waarvoor u de conditie wilt opgeven.
      </td>
      <td>
	<select name="anc_form" id="anc_form"><option value="">Selecteer waarde</option></select></td>
    </tr><tr><td>
	<h3>Ouderveld:</h3>Het veld van dit ouderformulier waarmee wordt gekoppeld.
      </td>
      <td id="anc_fields">
      </td>
    </tr></table></div>